@using EntFrm.Business.Model;
@using EntFrm.Business.Model.Collections;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit";

    AppsInfo info = (AppsInfo)ViewBag.StackHolder;
    AppsClassCollections classList = (AppsClassCollections)ViewBag.ClassList;
}

@section PageSpecificStyleSheetIncludes{
    <link rel="stylesheet" href="~/Content/layui/css/layui.css">
    <style type="text/css">
        body {
            background-color: white;
        }

        .changeicon {
            float: right;
            margin-right: -15px;
            position: absolute;
            right: -7px;
            top: 0px;
            border: none;
            background-color: #18a689;
            color: #FFFFFF;
            line-height: 33px;
            height: 33px;
        }
    </style>
}

@section PageSpecificJavascriptIncludes{
    <script src="~/Content/layui/layui.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            layui.use('laydate', function () {
                var laydate = layui.laydate; 

                //常规用法
                laydate.render({
                    elem: '#ActiveDate'
                });
            });
        }); 
    </script>
}

@using (Ajax.BeginForm("Save", null, new AjaxOptions()
{
    HttpMethod = "Post",
    OnBegin = "SubAjax.Loading",
    OnComplete = "SubAjax.Complate",
    OnFailure = "SubAjax.Failure",
    OnSuccess = "SubAjax.Success"
},
new { @class = "form-horizontal dig-from", @role = "form" }))
{
    <div class="wrapper-content">
        <div class="panel-body" style="padding-top:0px;">
            <div class="tab-content">
                <div id="tab-1" class="tab-pane active">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">类型：</label>
                        <div class="col-lg-8">
                            <select id="AppClassNo" name="AppClassNo" class="form-control select2" datatype="*" nullmsg="请选择分类">
                                @if (classList != null && classList.Count > 0)
                                {
                                    foreach (AppsClass dl in classList)
                                    { 
                                         <option value="@dl.sClassNo"   @if(dl.sClassNo.Equals(info.sAppClassNo)) { <text>selected</text>}>@dl.sClassName</option>
                                        
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">程序名称：</label>
                        <div class="col-lg-8">
                            <input type="hidden" name="AppNo" id="AppNo" value="@info.sAppNo" />
                            <input type="text" class="form-control" name="AppCnName" id="AppCnName" value="@info.sAppCnName" placeholder="程序名称" />
                        </div>
                    </div>

                    <div class="clearfix f-hafl">
                        <div class="col-hafl">
                            <div class="form-group">
                                <label class="col-lg-3 control-label">编码：</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" name="AppCode" id="AppCode" readonly value="@info.sAppCode" placeholder="版本" />
                                </div>
                            </div>
                        </div>
                        <div class="col-hafl">
                            <div class="form-group">
                                <label class="col-lg-3 control-label" style="width:29% !important; padding-left:5px; padding-right:5px;">版本：</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" name="AppVersion" id="AppVersion" value="@info.iAppVersion" placeholder="版本" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">客户名称：</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" name="GuestName" id="GuestName" value="@info.sGuestName" placeholder="客户名称" />
                        </div>
                    </div>

                    <div class="clearfix f-hafl">
                        <div class="col-hafl">
                            <div class="form-group">
                                <label class="col-lg-3 control-label">客户电话：</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" name="GuestPhone" id="GuestPhone" value="@info.sGuestPhone" placeholder="客户电话" />
                                </div>
                            </div>
                        </div>
                        <div class="col-hafl">
                            <div class="form-group">
                                <label class="col-lg-3 control-label" style="width:29% !important; padding-left:5px; padding-right:5px;">客户邮箱：</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" name="GuestEMail" id="GuestEMail" value="@info.sGuestEMail" placeholder="客户邮箱" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix f-hafl">
                        <div class="col-hafl">
                            <div class="form-group">
                                <label class="col-lg-3 control-label">授权狗号：</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" name="DogId" id="DogId" value="@info.sDogId" placeholder="授权狗号" />
                                </div>
                            </div>
                        </div>
                        <div class="col-hafl">
                            <div class="form-group">
                                <label class="col-lg-3 control-label" style="width:29% !important; padding-left:5px; padding-right:5px;">授权数：</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" name="ActiveCount" id="ActiveCount" value="@info.iActiveCount" placeholder="授权数" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix f-hafl">
                        <div class="col-hafl">
                            <div class="form-group">
                                <label class="col-lg-3 control-label">授权时间：</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" name="RegistDate" id="RegistDate" readonly value="@info.dRegistDate.ToString("yyyy-MM-dd")" placeholder="授权时间" />
                                </div>
                            </div>
                        </div>
                        <div class="col-hafl">
                            <div class="form-group">
                                <label class="col-lg-3 control-label" style="width:29% !important; padding-left:5px; padding-right:5px;">有效时间：</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" name="ActiveDate" id="ActiveDate" value="@info.dActiveDate.ToString("yyyy-MM-dd")" placeholder="有效时间" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">激活码：</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" name="ActiveCode" id="ActiveCode" value="@info.sActiveCode" placeholder="激活码" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">备注：</label>
                        <div class="col-lg-8">
                            <textarea class="form-control" name="Comments" id="Comments" rows="5">@info.sComments</textarea>
                        </div>
                    </div>
                    <div class="hr-line-dashed" style="display: table;margin-left: auto;margin-right: auto;">
                        <div class="form-group m20">
                            <button class="btn btn-primary btn-save" type="submit"><i class="fa fa-check"></i> <span>保存</span></button>
                            <button class="btn btn-warning" id="btn-dig-close" type="button"><i class="im-undo2"></i> 返回</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

